body{
    background-color: black;}

img{
    width: 10%;
}

h1{
    color: aliceblue;
}

header{
    height: 50px;
    width: 100%;
    background-color: aliceblue;
}

footer{
height: 50px;
width: 100%;
background-color: antiquewhite;
}